<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/oanaancuta">Oana</a>, an experienced professional in the healthcare industry and a web developer in the making, determined to acquire the technical skills needed to improve technology currently available to healthcare providers and create tools never before seen in the arena.
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'oana.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Oana Blankenship</h2>
      <br />
      <p>
        Oana possesses operational expertise in project management, process development & system implementations/support and 17+ years of people and systems management experience, covering a wide range of positions and skill sets: line level to management level, data entry to technical & project management resources.
      </p>
    </div>
  </div>


</div>

<br class="clear" />
<br />
<br />
<br />
<br />